* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: norse;
  src: url(Norse-Bold.otf);
}

:root {
  --font-text: norse, 'Nova Square', sans-serif;
}

body {
  display: flex;
  font-family: var(--font-text);
}

.sideBar {
  display: flex;
  flex: 1;
  background-color: #857e7e;
  color: #fff;
  height: 100vh;
  max-width: 25vw;
  background-image: url(img/odin-crow.png);
  background-size: cover;
}

.sideBar > .logo {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(32, 32, 32, 0.6);
  height: 15vh;
  width: 100%;
  font-size: calc(6vh + 20px);
  position: relative;
  top: 40vh;
}
.sideBar > .logo > img {
  height: 80%;
}

.main {
  width: 75vw;
  max-height: 100vh;
  background-color: rgb(205, 205, 228);
}

.main > .header {
  height: 35vh;
  overflow: hidden;
}

.main > .header > .text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  top: 15vh;
  bottom: 5vh;
  margin-right: 15vw;
  margin-left: 2%;
  font-size: calc(2vh + 6px);
}

.main > .form {
  height: 65vh;
}

form > .positioning {
  background-color: #fff;
  height: 50%;
  box-shadow: 0 5px 10px rgb(124, 124, 124) ;
}

.details {
 padding: 1% 0 1% 2%;
}

form > div > div > div {
  display: flex;
  gap: 4vw;
}

label {
  display: flex;
}

form > div > div > div,
form > div > div > h2 {
  margin-bottom: 2vh;
}

input {
  height: 1.8rem;
  width: 14vw;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #b4b0b0;
  padding-left: 0.3vw;
  outline: none;
  font-family: var(--font-text);
}

label {
  font-size: calc(1vh + 10px);
}

.btn {
  padding: 1.5% 0 1% 2%;
}

.btn > button{
  margin-bottom: 2vh;
  text-align: center;
  padding: 1vh 2vw;
  border-radius: 7px;
  border: none;
  color: #fff;
  background-color: #165722;
  font-weight: 700;
  font-size: 1.3rem;
  font-family: inherit;
  box-shadow: 5px 5px 10px rgb(158, 158, 158);
  cursor: pointer;
  word-spacing: 0.3rem;
}

.login > a {
  text-decoration: none;
  color: #165722;
  font-weight: 600;
}

input:focus{
  border: 2px solid #8211ce;
  box-shadow: 5px 5px 8px rgb(158, 157, 157);
}

.confirmpw {
  position: relative;
}

.pwCheck {
  font-size: 1rem;
  color: red;
  font-weight: 500;
  position: absolute;
  top: 4.8vh;
}

input:required:invalid {
  border: 2px solid red;
}

.notice, .login {
  font-size: 1.3rem;
}

.artist {
 position: absolute;
 bottom: 2vh;
 left: 5vw;
 font-size: calc(1vh + 6px);
}

div > p > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 600;
}