* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: 'Nova Square', sans-serif;
}

.sideBar {
  display: flex;
  flex: 1;
  background-color: #857e7e;
  color: #fff;
  height: 100vh;
  max-width: 25vw;
  background-image: url(/img/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
}

.sideBar > .logo {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(32, 32, 32, 0.6);
  height: 15vh;
  width: 100%;
  font-size: calc(4vh + 20px);
  position: relative;
  top: 20vh;
  font-family: 'Nova Square', sans-serif;
}
.sideBar > .logo > img {
  height: 80%;
}

.main {
  max-width: 75vw;
  max-height: 100vh;
  background-color: #d8d7d7;
}

.main > .header {
  height: 35vh;
}

.main > .header > .text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  top: 40%;
  bottom: 10%;
  margin-right: 15%;
  margin-left: 5%;
  font-size: calc(2vh + 12px);
}

form > .details {
  background-color: #fff;
  margin-left: 50px;
}

.name, .emailNumber, .password {
  display: flex;
  gap: 4vw;
}

.name > .firstName,
.name > .lastName,
.emailNumber > .email,
.emailNumber > .number,
.password > .pw,
.password > .confirmpw {
  display: flex;
  flex-direction: column;
}
